
body {
    padding: 0;
    margin: 0;
    background-color: #d7d7d785;
}

.main-page {
    background-repeat: no-repeat;
    background-size: cover;
}

.section-foto {
    width: 60%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    border-radius: 30px;
}

.main-images-page {
    width: 100%;
    height: 100vh;
    align-items: center;
}

.main-tittle {
    display: flex;
    justify-content: center;
    height: 250px
}

h1 {
    font-size: 50px;
}

.main-img {
    width: 400px;
}

.section-right {
    float: right;
}

.section-left {
    float: left;
}

.section-text {
    position: relative;
    width: 550px;
    height: 450px;
    /* background: rgba(255, 255, 255, 0.034);
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ; */
    color: rgb(0, 0, 0);
    box-shadow: 20px 20px rgba(0,0,0,.15);
    transition: all .4s ease;
    top: 30%;
    border-radius: 20px;
}
/* .section-text:hover {
    border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
    box-shadow: 10px 10px rgba(0,0,0,.25);
} */

.text-right {
    float: right;
    right: 5%;
}

.text-left {
    float: left;
    left: 5%;
}

.description-tittle {
    text-align: center;
    font-size: 26px;
}

.description-text {
    font-size: 18px;
    margin: 10px;
}
